server:
  name: {{ kibana_server_name }}

elasticsearch.password: {{ kibana_elasticsearch_password }}
xpack.encryptedSavedObjects.encryptionKey: {{ kibana_encryption_key }}

elasticsearch.ssl.certificateAuthorities: ["{{ elasticsearch_pem_file }}"]
